body { 
  font: 1em "Roboto", Helvetica, Arial, sans-serif; 
  font-weight:lighter; 
}
  
.navbar-brand { 
  color:black;  
  font: 1.8em "Roboto", Helvetica, Arial, sans-serif; 
  font-weight: bold;
}

li.active a {
  color: white;
}
 
.table-fit {
  white-space: nowrap; 
  width: 1%;
}

.img-container {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(rgb(96, 165, 250), rgb(96, 165, 250));
}

.cursor-pointer {
  cursor: pointer;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}

.nav-tabs .nav-link {
  white-space: nowrap;
}