body { 
  font: 1em "Roboto", Helvetica, Arial, sans-serif; 
  font-weight:lighter; 
}
  
.navbar-brand { 
  color:black;  
  font: 1.8em "Roboto", Helvetica, Arial, sans-serif; 
  font-weight: bold;
}

li.active a {
  color: white;
}
 
.table-fit {
  white-space: nowrap; 
  width: 1%;
}
 
.cursor-pointer {
  cursor: pointer;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}

.nav-tabs .nav-link {
  white-space: nowrap;
}


@media (min-width: 776px) {  
  .img-container {
    width: 500px;
    height: auto;
    background-color: #0c6efd;
    background-image: linear-gradient(rgb(47, 133, 252), rgb(12, 110, 253));
  }

  .img-responsive {
    width: 500px;
  }
}
  
@media (min-width: 576px) {  
  .img-container {
    width: 500px;
    height: auto;
    background-color: #0c6efd;
    background-image: linear-gradient(rgb(47, 133, 252), rgb(12, 110, 253));
  }

  .img-responsive {
    width: 500px;
  }
}


@media (min-width: 200px) {  

  .img-container {
    width: 450px;
    height: auto;
    background-color: #0c6efd;
    background-image: linear-gradient(rgb(47, 133, 252), rgb(12, 110, 253));
  }

  .img-responsive {
    width: 450px;
  }
}