
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
 

$custom-grid-breakpoints: ( 
    xxxl: 1600px
);
 
$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);
 
@import "bootstrap/scss/bootstrap.scss";